<!-- footer section starts here -->

<section class="footer">

  <div class="footer-content">

    <div class="footer-content-1">
      <a href="" class="footer-logo" title="TRAVS"><img src="../../assets/images/Header_logo.png"
          alt="Footer Logo">TRAVS</a>

      <p>Adventure isn’t hanging off a rope on the side of a mountain or living among lions.</p>
      <div class="footer-social-media">
        <a class="fab fa-facebook-f"></a>
        <a class="fab fa-instagram"></a>
        <a class="fab fa-linkedin-in"></a>
        <a class="fab fa-whatsapp"></a>
      </div>
    </div>

    <div class="footer-content-2">
      <h3>Quick Links :</h3>
      <a routerLink="/home"> <i class="fas fa-hand-point-right"></i> Home </a>
      <a routerLink="/about"> <i class="fas fa-hand-point-right"></i> About </a>
      <a routerLink="/packages"> <i class="fas fa-hand-point-right"></i> Packages </a>
      <a routerLink="/book"> <i class="fas fa-hand-point-right"></i> Booking </a>
      <a routerLink="/contact"> <i class="fas fa-hand-point-right"></i> Contact </a>
    </div>

    <div class="footer-content-3">
      <h3>Contact Info :</h3>
      <a><i class="fas fa-phone"></i>+91-98765-43215 </a>
      <a><i class="fas fa-envelope"></i>xyz.gmail.com</a>
      <a><i class="fas fa-map-marker-alt"></i>&numsp;&numsp;India-637709 </a>
    </div>

  </div>

  <div class="footer-credit">-- “Anyone who has never made a mistake has never tried anything new” --</div>

  <div class="footer-credit"> -- © Copyrights and Design Belongs to <span>DINESH KUMAR M</span> --</div>

</section>

<!-- footer section ends here -->
