/*--------------------------------------------------------------------
                    CONTACT SECTION STARTS HERE
--------------------------------------------------------------------*/

.contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem 5%;
  place-content: center;
}

.contact .contact-container a {
  width: 22rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--white);
  border: var(--white-border);
  background: var(--green);
  cursor: pointer;
  box-shadow: var(--green-box-shadow);
}

.contact .contact-container a:hover {
  background: var(--white);
  color: var(--green);
  border: var(--border);
}

.contact .contact-container a:hover i {
  background: var(--white);
  color: var(--green);
  border: var(--border);
}

.contact .contact-container a i {
  font-size: 1.5rem;
  background: var(--brown);
  border-radius: 5rem;
  padding: 1rem;
  color: var(--white);
  border: var(--white-border);
  margin-bottom: 0.2rem;
}

.contact .contact-container a h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.contact .contact-container a p {
  font-size: 1.4rem;
}

.contact .contact-content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  border: var(--border);
  box-shadow: var(--green-box-shadow);
  width: fit-content;
  margin: 2.5rem auto;
  padding: 1.5rem;
}

.contact .contact-content form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contact .contact-content form input,
.contact .contact-content form textarea {
  border-bottom: var(--border);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 1.5rem;
  color: var(--green);
  padding: 0.5rem 5rem 0.5rem 1rem;
  margin: 0.5rem 0 0 1rem;
  border-radius: 0.2rem;
}

.contact .contact-content form input::placeholder,
.contact .contact-content form textarea::placeholder {
  color: var(--green);
}

.contact .contact-content form input:focus,
.contact .contact-content form textarea:focus {
  outline: none;
}

.contact .contact-content form input:first-child {
  margin-top: 1rem;
}

.contact .contact-content form textarea {
  resize: none;
  height: 10rem;
}

.contact .contact-content iframe {
  border: var(--border);
  box-shadow: var(--green-box-shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 30rem;
  width: 30rem;
  margin: 0.8rem 1rem 1rem 0;
}

@media (max-width: 1140px) {
  .contact .contact-content {
    place-content: center;
    gap: 1rem;
    flex-direction: column-reverse;
  }

  .contact .contact-content iframe {
    min-width: 15rem;
    margin: 0 auto;
  }

  .contact .contact-content form {
    padding: 0;
    width: fit-content;
  }

  .contact .contact-content form input,
  .contact .contact-content form textarea {
    margin: 0.5rem 0 0 0;
  }
}

@media (max-width: 600px) {
  .contact .contact-content iframe {
    height: 20rem;
    width: fit-content;
  }

  .contact .contact-content form input,
  .contact .contact-content form textarea {
    width: 16rem;
    font-size: 1.2rem;
  }
}

/* Contact section ends here */
