/*--------------------------------------------------------------------
                        PACKAGES SECTION STARTS HERE
--------------------------------------------------------------------*/

.package {
  padding: 1rem 6%;
  text-align: center;
}

.package h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  background: var(--green);
  color: var(--white);
}

.package .package-container {
  border: var(--border);
  min-height: 35rem;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  padding: 0 0 2rem 0;
}

.package .package-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.package .package-content {
  display: flex;
  padding: 0.4rem;
  border: var(--border);
  margin: 1.5rem 0.5rem 3rem 0.5rem;
  box-shadow: var(--green-box-shadow);
  cursor: pointer;
}

.package-content .package-image {
  height: 20rem;
  width: 20rem;
  position: relative;
}

.package-content .package-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(0.1rem);
}

.package-content h3 {
  position: absolute;
  background: var(--white);
  padding: 0.3rem 1rem;
  border: var(--border);
  border-radius: 0.3rem;
  width: 16rem;
  margin: 8.2rem 0 0 1rem;
  color: var(--green);
  font-weight: 500;
  z-index: 3;
}

.package-content .amount {
  margin: 8rem 0 0 6rem;
  position: absolute;
  font-size: 2rem;
  color: var(--white);
  border: var(--white-border);
  box-shadow: var(--box-shadow);
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  display: none;
  z-index: 3;
}

.package .package-content:hover .package-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-bg);
  z-index: 2;
}

.package-content:hover h3 {
  margin: 4rem 0 0 1rem;
  transition: 0.8s ease-in-out;
}

.package .package-content:hover .amount {
  display: block;
}

@media (max-width: 1070px) {
  .package-content .package-image {
    height: 17rem;
    width: 17rem;
  }

  .package-content h3 {
    padding: 0.3rem 0.5rem;
    width: 14rem;
  }

  .package-content .amount {
    margin: 8rem 0 0 5.5rem;
    font-size: 1.7rem;
  }

  .package .package-content {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  .package .package-contents {
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  .package h2 {
    font-size: 1.7rem;
  }
}

/* Packages section ends here */
