<app-navbar></app-navbar>

<!-- Main Heading starts -->

<section class="heading">
  <img src="../../assets/images/Heading_image.jpg">

  <div class="heading-content">
    <h3>Book Now</h3>
    <p> <a routerLink="/home">home</a> / booking </p>
  </div>

</section>

<!-- Main Heading ends -->

<!-- Boooking section starts here -->

<section class="book">

  <h4 class="book-topic">Book Tickets <span> in Advance</span></h4>

  <div class="book-container">

    <a class="book-contents" routerLink="/login">
      <i class="fab fa-avianex"></i>
      <h1>Flight Booking</h1>
    </a>

    <a class="book-contents" routerLink="/login">
      <i class="fas fa-bus-alt"></i>
      <h1>Bus Booking</h1>
    </a>

    <a class="book-contents" routerLink="/login">
      <i class="fas fa-car"></i>
      <h1>Cab Booking</h1>
    </a>

    <a class="book-contents" routerLink="/login">
      <i class="	fas fa-hotel"></i>
      <h1>Hotel Booking</h1>
    </a>

  </div>

  <div class="book-content">

    <div class="book-content-1">

      <h1>Did not find your Package?</h1>

      <p>Feel free to ask us.</p>

      <span class="last-quote">We'll make it for you</span><br><br>

      <a routerLink="/contact" class="btn">Reach us <span class="fas fa-caret-square-right"></span></a>

    </div>

    <div class="book-content-2">

      <img src="../../assets/images/Package_image.png">

    </div>

  </div>

</section>

<!-- Boooking section ends here -->

<app-footer></app-footer>
