/*--------------------------------------------------------------------
                      LOGIN SECTION STARTS HERE
--------------------------------------------------------------------*/

.login-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/images/Home_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-bg);
  z-index: 2;
}

.login-contents {
  background: transparent;
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(1rem);
  align-items: center;
  box-shadow: var(--box-shadow);
  border: var(--white-border);
  padding: 1.5rem;
  width: 28rem;
}

.login-contents .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  background: var(--white);
  cursor: pointer;
}

.login-contents .close:hover {
  border: var(--white-border);
  background: transparent;
  color: var(--white);
}

.login-contents .login-title {
  margin: 0.5rem auto;
  text-align: center;
  color: var(--green);
  text-shadow: var(--text-shadow);
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.login-contents .login-content {
  position: relative;
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 1rem auto;
  padding: 1rem 1rem 0 0;
  border-bottom: var(--white-border);
}

.login-contents .login-content:hover {
  border-bottom: var(--border);
  transition: 0.3s;
  transform-origin: right;
}

.login-contents .login-content i {
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.login-contents .login-content input::placeholder {
  position: absolute;
  left: 0.5rem;
  top: 46%;
  transform: translateY(-50%);
  margin-left: 0.2rem;
  color: var(--white);
  transition: 0.3s;
}

.login-contents .login-content input {
  left: 0;
  top: 0;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white);
}

.login-contents .login-content.one {
  margin-top: 0;
}

.login-contents .login-content.two {
  margin-bottom: 0.4rem;
}

.login-contents .login-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.login-contents .login-password-1 {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.login-contents .login-password-1 input {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.2rem;
  cursor: pointer;
}

.login-contents .login-password-1 p {
  color: var(--white);
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.login-contents .login-password-2 {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.1rem;
  margin-top: 1.3rem;
  cursor: pointer;
}

.login-contents .login-password-2:hover {
  color: var(--green);
}

.login-contents .login-btn {
  border: var(--white-border);
  color: var(--green);
  padding: 0.2rem;
  font-size: 1.8rem;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-contents .login-btn:hover {
  background: transparent;
  color: var(--white);
}

.login-contents .login-register {
  font-size: 1.4rem;
  color: var(--white);
  text-decoration: none;
}

.login-contents .login-register a {
  color: var(--green);
  letter-spacing: 0.1rem;
}

.login-contents .login-register a:hover {
  color: var(--green);
  text-shadow: var(--text-shadow);
  text-decoration: line-through;
}

@media (max-width: 500px) {
  .login-contents {
    width: fit-content;
  }

  .login-contents .login-title {
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0 auto;
  }

  .login-contents .login-content i {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .login-contents .login-content input {
    font-size: 1.2rem;
  }

  .login-contents .login-password-1 input {
    width: 1.3rem;
    height: 1.3rem;
  }

  .login-contents .login-password-1 p,
  .login-contents .login-password-2 {
    font-size: 1rem;
  }

  .login-contents .login-btn {
    font-size: 1.6rem;
    margin: 1.5rem auto;
  }

  .login-contents .login-register {
    font-size: 1.2rem;
  }
}

/* Login section ends here */
