<!-- Login section starts here -->

<section class="login">

  <div class="login-container">

    <form class="login-contents" (ngSubmit)="submitList(username.value, password.value)">

      <span class="fas fa-home close" routerLink="/home" title="Go Back to Home"></span>

      <h2 class="login-title">Login</h2>

      <div class="login-content one">

        <i class="fas fa-user"></i>
        <input type="text" autocomplete="off" name="UserName" placeholder="Username" #username/>

      </div>

      <div class="login-content two">

        <i class="fas fa-lock"></i>
        <input type="password" autocomplete="off" name="Password" placeholder="Password" #password [type]="fieldTextType ? 'text' : 'password'"/>

      </div>

      <div class="login-buttons">

        <div class="login-password-1">
          <input type="checkbox" (click)="showPass()">
          <p>Show Password</p>
        </div>

        <a class="login-password-2" (click)="openForgotPass()">Forgot Password?</a>

      </div>

      <button type="submit" class="login-btn">Login</button>

      <p class="login-register">Don't have an account ? <a routerLink="/register">Register</a></p>

    </form>

  </div>

</section>

<!-- Login section ends here -->

<!-- Display Active Status Message starts here -->

<div class="active-container" *ngIf="displayStatus">
  <div class="active-content">
    <img src="{{imagePath}}" alt="Success Sign">
    <p class="message" [style.color]="color">{{message}}</p><br>
    <button class="messageBtn" [style.background]="color" (click)="navigateActiveStatus()">ok</button>
  </div>
</div>

<!-- Display Active Status Message ends here -->
