<app-navbar></app-navbar>

<!-- Main Heading starts -->

<section class="heading">
  <img src="../../assets/images/Heading_image.jpg">

  <div class="heading-content">
    <h3>about us</h3>
    <p> <a routerLink="/home">home</a> / about </p>
  </div>

</section>

<!-- Main Heading ends -->

<!-- about section starts here -->

<section class="about">

  <div class="about-content">

    <div class="about-content-1">

      <span>Choose your plan</span>

      <h1>Make your best travel plan with us</h1>

      <p>Our team has only one goal : to create memorable moments for our travelers.</p>

      <a routerLink="/packages" class="btn">Packages <span class="fas fa-caret-square-right"></span></a>

    </div>

    <div class="about-content-2">

      <img src="../../assets/images/About_image.png">

    </div>

  </div>

  <div class="about-image">

    <img src="../../assets/images/About_travel.jpg">

  </div>

</section>

<!-- about section ends here -->

<!-- review section starts here -->

<section class="review">

  <div class="review-content">

    <i class="fas fa-quote-left quote"></i>

    <p>I have booked tickets through your website several times I got proper services. I have also got refunds in cancelled tickets. Good works</p>

    <div class="review-contents">

      <div class="review-content-1">

        <h1>Dinesh Kumar</h1>

        <div class="review-stars">
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
        </div>

      </div>

      <div class="review-content-2">
        <img src="../../assets/images/men_icon.jpg">
      </div>

    </div>

  </div>

  <div class="review-content">

    <i class="fas fa-quote-left quote"></i>

    <p>I have booked tickets through your website several times I got proper services. I have also got refunds in cancelled tickets. Good works</p>

    <div class="review-contents">

      <div class="review-content-1">

        <h1>Shalini</h1>

        <div class="review-stars">
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>

      </div>

      <div class="review-content-2">
        <img src="../../assets/images/women_icon.jpg">
      </div>

    </div>

  </div>

  <div class="review-content">

    <i class="fas fa-quote-left quote"></i>

    <p>I have booked tickets through your website several times I got proper services. I have also got refunds in cancelled tickets. Good works</p>

    <div class="review-contents">

      <div class="review-content-1">

        <h1>Ranjith</h1>

        <div class="review-stars">
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star"></i>
        </div>

      </div>

      <div class="review-content-2">
        <img src="../../assets/images/men_icon.jpg">
      </div>

    </div>

  </div>

</section>

<!-- review section ends here -->

<app-footer></app-footer>
