<!-- Register section starts here -->

<section class="register">

  <div class="register-container">

    <form class="register-contents">

      <span class="fas fa-home close" routerLink="/home" title="Go Back to Home"></span>

      <h2 class="register-title">Register</h2>

      <div class="register-content one">

        <i class="fas fa-user"></i>
        <input type="text" autocomplete="off" name="username" placeholder="Username" />

      </div>

      <div class="register-content one">

        <i class="fas fa-envelope"></i>
        <input type="email" autocomplete="off" name="email" placeholder="Email" />

      </div>

      <div class="register-content one">

        <i class="fas fa-lock"></i>
        <input type="text" autocomplete="off" name="password" placeholder="Password" />

      </div>

      <div class="register-content two">

        <i class="fas fa-lock"></i>
        <input type="text" name="confirmPassword" placeholder="Confirm Password" />

      </div>

      <button type="submit" class="register-btn">Register</button>

      <p class="register-login">Already have an account ? <a routerLink="/login">Login</a></p>

    </form>

  </div>

</section>

<!-- Register section ends here -->
